.fifth {
  width: 100vw;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 50px 0px;
  background-color: white;
}
.fifth-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  margin-right: 100px;
}
.fifth-content > h2 {
  font-size: 45px;
  font-weight: bold;
}
.fifth-content > span {
  color: #615b29;
}
.fifth-content > .fifth-content-btns {
  display: flex;
  margin: 20px 0px;
  gap: 10px;
}
.fifth-content > .fifth-content-btn {
  width: fit-content;
  padding: 15px 80px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  transition: all 0.5s;
  margin-top: 20px;
}
.fifth-content > .fifth-content-btn:hover {
  text-decoration: underline;
}

.fifth-content > img {
  width: 492px;
  object-fit: cover;
}

.fifth > img {
  width: 409px;
  object-fit: cover;
}
