.hero {
  position: relative;
  width: 100vw;
  height: 884px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://www.kakaobank.com/static/images/web/renewal/main-bg3.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.hero-content {
  width: 900px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero-content > h2 {
  font-size: 50px;
  font-weight: bold;
}
.hero-content > span {
  color: #615b29;
}
.hero-content-btns {
  display: flex;
  gap: 10px;
  margin-top: 50px;
}
.hero-content-btns > button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 18px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.hero-content-btns > button:hover {
  text-decoration: underline;
}
.hero-content-btns > button > img {
  width: 30px;
  object-fit: cover;
}
