button {
  padding: 10px 20px;
  font-weight: bold;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(15, 158, 158);
}
